body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.App {
  background-color: #bcc8cc; /* Cor preta */
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin: 0; 
  padding: 0; 
}
